<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
    <anonymousIdentification/>
    <authentication mode="Forms"></authentication>
    <authorization>
    </authorization>
  </system.web>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="OverdueDuration" value="30" />
    <add key="NoticeDuration" value="27" />
    <add key="OverdueReservationDuration" value="3" />
    <add key="AdminAccount" value="Admin" />
    <add key="DefaultPassword" value="12345678" />
    <add key="Deposit" value="200" />
    <add key="DamageFineRate" value="0.5" />
    <add key="LostFineRate" value="1" />
    <add key="MaximumIssue" value="20" />
    <add key="OverdueFinePerDay" value="1.5" />
    <add key="Limitofreservation" value="2" />
    <add key="Limitofissue" value="1.5" />
    <add key="AdminPassword" value="1234567" />
  </appSettings>
  <connectionStrings>
    <add name="OLMSDB"
         connectionString="server=127.0.0.1;user id=root;password=594188;persistsecurityinfo=True;database=OnlineLibraryManagementSystem;sslmode=none"
         providerName="Mysql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>